<div class="row">
    <div class="col-md-12">
        <h1 class="display-4">Welcome To Shopping Cart</h1>
        <p class="lead">This is your homepage</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account"
                > You are logged in as user "{{account.login}}". </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>If you want to </span>
                <a class="alert-link" (click)="login()">sign in</a><span> you can use the default account<br/> - login="trendyol" and password="trendyol"</span>
            </div>
        </div>
    </div>
    <div class="col-md-12" *ngIf="isAuthenticated()">
        <h1 class="display-4">Entities</h1>
        <hr>
        <div class="row">
            <div class="col-md-3">
                <h4 class="lead">Coupon</h4>
                <div class="table-responsive" *ngIf="coupons?.length > 0">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th><span>ID</span></th>
                            <th><span>Title</span></th>
                            <th><span>Code</span></th>
                            <th><span>Minimum Amount</span></th>
                            <th><span>Discount Type</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let coupon of coupons;">
                            <td>{{coupon.id}}</td>
                            <td>{{coupon.title}}</td>
                            <td>{{coupon.code}}</td>
                            <td>{{coupon.minimumAmount}}</td>
                            <td>
                                <div *ngIf="coupon.discountType">
                                    {{coupon.discountType.title}}
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-3">
                <h4 class="lead">Campaign</h4>
                <div class="table-responsive" *ngIf="campaigns?.length > 0">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th><span>ID</span></th>
                            <th><span>Title</span></th>
                            <th><span>Base Product Quantity</span></th>
                            <th><span>Discount</span></th>
                            <th><span>Discount Type</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let campaign of campaigns;">
                            <td><a [routerLink]="['/campaign', campaign.id, 'view' ]">{{campaign.id}}</a></td>
                            <td>{{campaign.title}}</td>
                            <td>{{campaign.baseProductQuantity}}</td>
                            <td>{{campaign.discount}}</td>
                            <td>
                                <div *ngIf="campaign.discountType">
                                    {{campaign.discountType.title}}
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-3">
                <h4 class="lead">Cart State (ENUM)</h4>
                <div class="table-responsive" *ngIf="cartStates?.length > 0">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th><span>ID</span></th>
                            <th><span>Title</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let cartState of cartStates;">
                            <td>{{cartState.id}}</td>
                            <td>
                                {{cartState.title}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-3">
                <h4 class="lead">Discount Type (ENUM)</h4>
                <div class="table-responsive" *ngIf="discountTypes?.length > 0">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th><span>ID</span></th>
                            <th><span>Title</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let discountType of discountTypes;">
                            <td>{{discountType.id}}</td>
                            <td>{{discountType.title}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <h4 class="lead">Category</h4>
                <div class="table-responsive" *ngIf="categories?.length > 0">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th><span>ID</span></th>
                            <th><span>Title</span></th>
                            <th><span>Parent Category</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let category of categories;">
                            <td>{{category.id}}</td>
                            <td>{{category.title}}</td>
                            <td>
                                <div *ngIf="category.parentCategory">
                                    {{category.parentCategory.title}}
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <h4 class="lead">Product</h4>
                <div class="table-responsive" *ngIf="products?.length > 0">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th><span>ID</span></th>
                            <th><span>Title</span></th>
                            <th><span>Price</span></th>
                            <th><span>Category</span></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let product of products;">
                            <td>{{product.id}}</td>
                            <td>{{product.title}}</td>
                            <td>{{product.price}}</td>
                            <td>
                                <div *ngIf="product.category">
                                    {{product.category.title}}
                                </div>
                            </td>
                            <td>
                                <input type="number" maxlength="1" style="width:40px" [value]="product.quantity">
                                <fa-icon [icon]="'plus'"></fa-icon>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <h4 class="lead">Cart (Represents user cart)</h4>
                <div class="table-responsive" *ngIf="carts?.length > 0">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th><span>ID</span></th>
                            <th><span>Cart State</span></th>
                            <th><span>User</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let cart of carts;">
                            <td>{{cart.id}}</td>
                            <td>
                                <div *ngIf="cart.cartStateId">
                                    {{cart.cartStateId}}
                                </div>
                            </td>
                            <td>
                                {{cart.userId}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <h4 class="lead">Cart Product (Represents products in cart)</h4>
                <div class="table-responsive" *ngIf="cartProducts?.length > 0">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th><span>ID</span></th>
                            <th><span>Quantity</span></th>
                            <th><span>Cart</span></th>
                            <th><span>Product</span></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let cartProduct of cartProducts;">
                            <td>{{cartProduct.id}}</td>
                            <td>{{cartProduct.quantity}}</td>
                            <td>
                                <div *ngIf="cartProduct.cartId">
                                    {{cartProduct.cartId}}
                                </div>
                            </td>
                            <td>
                                <div *ngIf="cartProduct.productId">
                                    {{cartProduct.productId}}
                                </div>
                            </td>
                            <td>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
